<div class="bg-secondary bg-gradient border-top-0 border border-secondary rounded-bottom">
    <app-banner></app-banner>
    <div class="container">
        <div class="w-100 text-center">
            <img src="../../../assets/profile_default.png"
                class="img-thumbnail rounded-circle border border-primary border-5 mb-2" alt="..." width="150">
        </div>
        <div class="w-100">
            <h3 class="text-center">{{ persona.nombre }} {{ persona.apellido }}</h3>
            <h4 class="text-center">{{job}}</h4>
            <hr>
            <h6 class="text-center">{{residence}}</h6>
            <p class="mx-5">{{abstract}}</p>
        </div>

    </div>

</div>